@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background-color: white;
}

#comment textarea {
    vertical-align: text-top;
    min-width: 500px;
    max-width: 500px;
}
