{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="w-1/3 m-auto">

        <div class="rounded border w-full bg-white mx-3 md:mx-0 lg:mx-0">
            {{ form_start(form) }}
            {{ form_row(form.content) }}
            <br>
            {{ form_row(form.ask_promote) }}
            <br>
            <button type="submit">Demander</button>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}
